<!DOCTYPE html>
<html lang="en">
<head>
    <title>Demo My Angular</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
    <script src="demoAngular.js"></script>
    <style>
        body {
            background-color:rgb(240,255,255);
        }
    </style>
 </head>
<body ng-app="myExample"ng-controller="MyMainController">
    <div ng-controller="MyListController" class="container">
        <br />
        <h1 class="text-center text-danger"><strong>{{headingCaption}}</strong></h1>
        <br />
        <div ng-include src="'header.html'"></div>
        <div class="btn-group btn-group-justified" ng-show="editForm">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning" ng-click="countPic(0, true)">Items(1-5)</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning" ng-click="countPic(5, true)">Items(6-10)</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning" ng-click="countPic(10, true)">Items(11-15)</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning" ng-click="countPic(15, true)">Items(16-20)</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning" ng-click="countPic(20, true)">Items(21-25)</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning" ng-click="countPic(16, false)">Items(all)</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-striped">
                <tr class="h3 text-success">
                    <th class="col-sm-1 col-sm-offset-1">Id</th>
                    <th class="col-sm-1 col-sm-offset-1">Photo</th>
                    <th class="col-sm-2">Name</th>
                    <th class="col-sm-2">Description</th>
                    <th class="col-sm-2 hidden-xs">Price</th>
                    <th class="col-sm-2 hidden-xs" ng-show="showEdit">Edit</th>
                </tr>
                <tr ng-repeat="p in products | filterPic:count">
                    <td class="col-sm-1 col-sm-offset-1">{{p.id}}</td>
                    <td class="col-sm-1 col-sm-offset-1"><img class="img-circle" ng-src="{{p.pName}}" width="50px" height="30px"></td>
                    <td class="col-sm-2">{{p.title}}</td>
                    <td class="col-sm-2">{{p.desc}}</td>
                    <td class="col-sm-2 hidden-xs">{{p.price}}</td>
                    <td class="col-sm-2 hidden-xs" ng-show="showEdit">
                        <button class="btn btn-primary btn-sm" ng-click="showItem(p.id)">
                            <span class="glyphicon glyphicon-pencil">Edit</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <h4 ng-hide="editForm" class="col-sm-offset-1 col-sm-11">Edit a item</h4>
        <form ng-hide="editForm" class="form-horizontal">
            <div class="form-group ">
                <label class="col-sm-offset-1 control-label">Product Name:</label>
                <input type="text" ng-model="eName" placeholder={{eName}} />
            </div>
            <div class="form-group ">
                <label class="col-sm-offset-1 control-label"> Description: </label>
                <input type="text" ng-model="eDesc" placeholder={{eDesc}} />
            </div>
            <div class="form-group">
                <label class="col-sm-offset-1 control-label">Product Price:</label>
                <input type="text" ng-model="ePrice" placeholder={{ePrice}} />
            </div>
            <button class="btn btn-primary col-sm-offset-1 btn-sm" ng-click="saveItem()">
                <span class="glyphicon glyphicon-ok">Save</span>
            </button>
            <button class="btn btn-primary col-sm-offset-1 btn-sm" ng-click="exitItem()">
                <span class="glyphicon glyphicon-remove">Exit</span>
            </button>
        </form>
        <br />
    </div>
</body>
</html>
<!-- @copyright wendy xiao demo angular 5-25-2016 -->
